.FAQ{
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f882;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-align: left;
    white-space: normal;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
}