@font-face {
    font-family: 'Kirby Classic';
    src: url('../fonts/kirby-classic.ttf' ) format('truetype');
}

/*Figura de huevo para colocar el personje*/
.egg {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 539px;
    max-width: 400px;
    border-radius: 50%;
    background-color:#f9f882;
    /*Añadir despues un diseño de extrellas*/
    margin: auto;
}
/*Texto nombre personaje*/
.character-name {
    font-family: 'Kirby Classic';
    font-size: 20px;
    font-weight: bold;
    color: #f37c90;
    text-shadow: 0 0 10px #ffffff;
    text-align: center;
    margin-top: 10%;
}
/*Texto de la edad*/
.character-age{
        font-size: 100%;
        font-weight: bold;
        color: blue;
        text-align: center;
        font-family: 'Roboto', sans-serif;
}
/*Cuadrado donde esta el png*/
.square {
    height: 200px;
    width: 200px;
    background-color: #ccc;
    border-radius: 2%;
    margin-top: 5%; 
}
.square :hover {
    background-color: rgb(239, 140, 203);
    border-radius: 2%;
    cursor: pointer;
}

img{
    width: 100%;
    height: 100%;
}
/*Botones inferiores*/
.buttons {
    display: flex;
    width: 100%;
    margin-top: 1%; 
    justify-content: center; 
}
.buttons :hover {
    background-color: #ccc;
    border-radius: 2%;
    cursor: pointer;
}

.buttonsUp{
    display: flex;
    justify-content: center; 
}