body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.black-background {
  color: black;
  background-color: #f9f882;
  border: 3% solid white;
  border-radius: 2%;
  width: 50%;
  /* Tamaño del ancho en porcentaje */
  height: 300%;
  /* Tamaño del alto en píxeles */
  padding:2%;
}



